body{
	background: radial-gradient(circle closest-side at 50% 200px, #fff, #ada6a0);
}
a{
	text-decoration: none;
	color: #5b5b5b;
	font-size: 15px;
	font-family: Arial;
}
.logo{
	color: #bab7b5;
	font-family: Arial;
	font-size: 55px;
	margin-top: 45px;
	text-align: center;
}
.header{
	background-color: #fff;
	border: 1px solid #7c7773;
	margin: 0 50px;
}
.list{
	display: inline;
}

.list__item{
	display:inline-block;
	padding: 20px 20px 20px 40px;
}
.search{
	display: inline-block;
	float: right;
	margin: 10px 25px 10px 0px;
	width: 260px;
	position: relative;
}
.search__input {
  width: 100%;
  height: 30px;
  padding-left: 15px;
  border: 1px solid #e2e2e2;
  border-radius: 1px;
  outline: none;
  background: #fafafa;
  color: #e2e2e2;
}
.search__button{
  position: absolute; 
  top: 2px;
  right: -5px;
  width: 30px;
  height: 30px;
  border: none;
  background-image: url(img/search.png);
  background-size: cover;
  cursor: pointer;
}
.city{
	background-color: #fff;
	border: 1px solid #7c7773;
	margin: 15px 50px;
}
.city__img{
	background-image: url(img/main.jpg);
	background-size: cover;
	height: 350px;
	margin: 10px; 
}
.pictures{
	display: flex;
	justify-content: space-between;
}
.farm{
	margin: 0 5px 10px 50px;
    border: 1px solid #ccc;
    width: 25vw;
    background-color: #fff;
}
.pictures__img{
	width: 90%;
    height: auto;
    margin: 10px;
}
.pictures__description{
	font-family: arial;
	font-size: 12px;
	padding: 15px;
    text-align: center;
}
.car{
	margin: 0 5px 10px 0px;
    border: 1px solid #ccc;
    width: 25vw;
    background-color: #fff;
}
.inside{
	margin: 0 5px 10px 0px;
    border: 1px solid #ccc;
    width: 25vw;
    background-color: #fff;
}
.river{
	margin: 0 50px 10px 0px;
    border: 1px solid #ccc;
    width: 25vw;
    background-color: #fff;
}