body{
	background: radial-gradient(circle closest-side at 50% 200px, #fff, #ada6a0);
}
a{
	text-decoration: none;
	color: #5b5b5b;
	font-size: 15px;
	font-family: Arial;
}
.logo{
	color: #bab7b5;
	font-family: Arial;
	font-size: 55px;
	margin-top: 45px;
	text-align: center;
}
.header{
	background-color: #fff;
	border: 1px solid #7c7773;
	margin: 0 50px;
}
.list{
	display: inline;
}

.list__item{
	display:inline-block;
	padding: 20px 20px 20px 40px;
}
.search{
	display: inline-block;
	float: right;
	margin: 10px 25px 10px 0px;
	width: 260px;
	position: relative;
}
.search__input {
  width: 100%;
  height: 30px;
  padding-left: 15px;
  border: 1px solid #e2e2e2;
  border-radius: 1px;
  outline: none;
  background: #fafafa;
  color: #e2e2e2;
}
.search__button{
  position: absolute; 
  top: 2px;
  right: -5px;
  width: 30px;
  height: 30px;
  border: none;
  background-image: url(img/search.png);
  background-size: cover;
  cursor: pointer;
}
.city{
	background-color: #fff;
	border: 1px solid #7c7773;
	margin: 15px 50px;
}
.city__img{
	background-image: url(img/main.jpg);
	background-size: cover;
	height: 350px;
	margin: 10px; 
}
.pictures{
	display: flex;
	justify-content: space-between;
}
.farm{
	margin: 0 5px 10px 50px;
    border: 1px solid #ccc;
    width: 25vw;
    background-color: #fff;
}
.relative{
	position: relative;
}
.pictures__img{
	width: 90%;
    height: auto;
    margin: 10px;
}
.pictures__description{
	font-family: arial;
	font-size: 12px;
	padding: 15px;
    text-align: center;
    padding-bottom: 70px;
    
}
.car{
	margin: 0 5px 10px 0px;
    border: 1px solid #ccc;
    width: 25vw;
    background-color: #fff;
}
.inside{
	margin: 0 5px 10px 0px;
    border: 1px solid #ccc;
    width: 25vw;
    background-color: #fff;
}
.river{
	margin: 0 50px 10px 0px;
    border: 1px solid #ccc;
    width: 25vw;
    background-color: #fff;
}
.pictures__more{
	position: absolute;
	bottom: 10px;
	right: 5px;
	margin: 10px;
}
.about{
	background-color: #fff;
	margin: 0 50px 10px 50px;

}
.about__pic{
	width: 25vw;
	background-color: #fff;
	padding: 10px 10px 5px 10px;
	display: inline-block;
}
.about__text{
	display: inline-block;
	width: 65vw;
	margin-left:-50px;
	position: relative;
	top: -110px;
}
.about__h{
	font-family: Arial;
	font-size: 16px;
	text-align: left;
	display: inline-block;
}
.about__p{
	font-size: 15px;
	font-family: Arial;
}
.footer{
	margin: 0 50px 50px 50px;
	border: 1px solid #ccc;
    background-color: #fff;
}
.footer__text{
	padding-left: 10px;
}

/*MEDIA*/

@media only screen and (max-width : 1474px) {
.about__text{
	transform: translate(25px, 25px);
}
}
@media only screen and (max-width : 1350px) {
.about__text{
	transform: translate(50px, 50px);
	width: 60vw;
}
}
@media only screen and (max-width : 1295px) {
.about__pic{
	width: 30vw;
}
.about__text{
	width: 50vw;
}
}
@media only screen and (max-width : 1185px) {
.about__text{
	transform: translate(50px, 70px);
}
}
@media only screen and (max-width : 1080px) {
.about__pic{
	width: 40vw;
}
.about__text{
	width: 40vw;
	transform: translateY(110px);
}
}
@media only screen and (max-width : 910px) {
.about__text{
	width: 35vw;
	transform: translateY(-140px);
}
.about__pic{
	width: 35vw;
}
.about__photo{
	width: 250px;
	height: 140px;
}
}
@media only screen and (max-width : 877px) {
.about__text{
	transform: translateY(-30px);
}
.search{
	display: none;
}
}
@media only screen and (max-width : 910px) {
.about__photo{
	width: 160px;
	height: 120px;
}
}
@media only screen and (max-width : 785px) {
.about__text{
	transform: translateY(0px);
}
}